{% extends 'base.html' %}
{% block title %}Giriş Yap{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Giriş Yap</h2>
        <form method="post" class="card card-body shadow">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success mt-3">Giriş</button>
        </form>

        <!-- Şifremi Unuttum bağlantısı -->
        <div class="mt-3 text-center">
            <a href="{% url 'password_reset_request' %}">Şifrenizi mi unuttunuz?</a>
        </div>
    </div>
</div>
{% endblock %}
